* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100svw;
}
body{
    overflow-x: hidden;
}

p {
    font-family: "Nunito", sans-serif;
}

h1, h2, h3 {
    font-family: "Bebas neue", sans-serif;
}

body {
    display: flex;
    flex-flow: column wrap;
}

nav {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    height: 15vh;
    width: 100svw;
    align-items: center;
    place-content: space-evenly;
    background-color: #273259;
    font-family: "Roboto", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    transition: background-color 250ms;
}

nav > a > img{
    width: 5svw;
    height: 5svh;
}
nav a:hover {
    background: #e0e0e0;

    color: black;
}

.navImgLink img {
    width: 100%;
}

.header{
    min-height: 100vh;
}
header .main {
    display: flex;
    flex-flow: row wrap;
    background-color: #3A4D80;
    place-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    min-height: 85vh;
}

header main .mainText h1, h2 {
    font-family: "Bebas neue", sans-serif;
    font-size: 75px;
    font-stretch: condensed;
}

header main .mainText p {
    font-family: "Nunito", sans-serif;
    max-width: 500px;
}

header main .mainText {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    min-width: 40%;
    color: #989898;
}

.mainText h2 {
    font-size: 40px;
}

.mainText h1 {
    font-size: 80px;
    color: white;
}

header main .videoPres {
    height: 40vh;
    width: 40vw;
    background: black;
    border-radius: 15px;
}
main section {
    min-height: 100vh;
}
main section#specialists h1 {
    font-size: 75px;
    font-family: "Roboto Condensed", sans-serif;
    place-self: center;
    margin-bottom: 100px;
    color: whitesmoke;
    font-weight: lighter;
}

main section#specialists {
    background: #273259;
    display: flex;
    flex-flow: column;
    padding: 50px;
    font-family: "Roboto", sans-serif;
}

main section#specialists main {
    display: flex;
    flex-flow: row wrap;
    place-content: space-between;
    color: #e0e0e0;

}

main section#specialists main .details {
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
    width: 50%;
}

main section#specialists main .details details {
    background: rgba(74, 100, 167, 0.33);
}

main section#specialists main .details summary {
    list-style: none;
    font-size: 35px;
    padding: 30px;
}

/*Icono del details*/

details > summary::before {
    color: black;
    font-size: 50px;
    content: '+ ';
}

details[open] > summary::before {
    color: black;
    font-size: 60px;
    content: '- ';
}

details[open] > summary {
    margin-bottom: 0.5rem;
}

/*2*/

main section#specialists main .details p {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-flow: column wrap;
    background: rgba(74, 100, 167, 0.73);
    padding: 30px;
}

main section#specialists main .metOurSpecialists {
    display: flex;
    width: 50%;
    align-content: center;
    place-content: center;
    gap: 20px;
    flex-flow: column wrap;
}

main section#specialists main a {
    place-self: center;
    display: flex;
    width: 30%;
    place-content: center;
    align-items: center;
    text-decoration: none;
    background: #0F162B;
    border-radius: 20px;
    border: none;
    color: #DEDEDE;
    font-size: 20px;
    padding: 10px;
    font-family: "Nunito", sans-serif;
}

main section#specialists main a:hover {
    background: whitesmoke;
    color: #0F162B;
}


#cites {
    color: #e0e0e0;
    display: flex;
    flex-flow: column;
    align-items: center;
    place-content: space-between;
    align-content: center;
    min-height: 100vh;
    background: #3a4d80;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 5rem;
}

#cites h1 {
    font-family: "Bebas neue", sans-serif;
    font-size: 70px;
}

#cites .citas {
    gap: 20px;
    width: 50vw;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #475f9c;
    display: flex;
    flex-flow: column wrap;
    place-content: center;
    align-items: center;
}

#cites .citas h2 {
    font-size: 30px;
    width: 100%;
    display: flex;
    place-content: center;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 20px;
}

#cites a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #575757;
    padding: 15px;
    background: #d9d9d9;
    border-radius: 15px;
    border: none;
}

#cites a:hover {
    background: #0F162B;
    color: whitesmoke;
}

#insurance {
    min-height: 100svh;
    display: flex;
    flex-flow: column;
    place-content: center;
    align-items: center;
    background: #3a4d80;
    color: #4f4f4f;
    gap: 50px;
    padding-bottom: 100px;
}
#insurance header{
    display: flex;
    padding: 3rem;
    place-content: center;
    align-items: center;
    width: 93vw;
    max-height: 20dvh;
    background: #273259;
    transform: skew(-30deg);
}

#insurance header h1 {
    color: #ffffff;
    font-size: 75px;
    font-family: "Bebas neue", sans-serif;
    transform: skew(30deg);
}

#insurance .plans {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    gap: 20px;
    width: 99vw;
    height: 80vh;
}

#insurance .plans .plan {
    max-width: 30vw;
    min-width: 350px;
    display: flex;
    flex-flow: column ;
    gap: 40px;
    background: #dfe8ff;
    border-radius: 15px;
    place-content: space-between;
    align-items: center;
    min-height: 550px;
    padding: 30px
}

#insurance .plans .plan h2{
    font-size: 50px;
    width: 100%;
    border-bottom: 1px solid #383a40;
    display: flex;
    place-content: center;
    padding: 20px;
}
#insurance .plans .plan h3{
    font-size: 35px;
}
#insurance .plans .plan p{
    max-width: 350px;
    font-size: 20px;
    width: 80%;
    display: flex;
    place-self: center;
    align-self: center;
}
#insurance .plans .plan a{
    text-decoration: none;
    background: #608bff;
    color: #e4e4e4;
    padding: 20px;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    border: 1px solid #4d6cc0;
}
#insurance .plans .plan a:hover{
    background: #e4e4e4;
    color: #608bff;
}

footer{
    display: flex;
    flex-flow: column;
    place-content: space-between;
    align-items: baseline;
    gap: 20px;
    background: #273259;
    color: #e4e5ea;
    padding: 50px;
    font-family: "Nunito", sans-serif;
}
footer h1{
    font-size: 15px;
    font-weight: normal;
    font-family: "Roboto Condensed", sans-serif;
}
footer h2{
    font-size: 15px;
    font-weight: normal;
    font-family: "Roboto Condensed", sans-serif;

}