/*Colors*/
$primaryColor :#3A4D80;
$secondaryColor : #273259;
$lightBgColor : #475f9c;
$mainTextColor : #989898;
$darkHeader : #070c22;

/*Font families*/
$headerFont: "Bebas neue", sans-serif;
$mainTextFont : "Nunito", sans-serif;
$subHeaderFont : "Roboto", sans-serif;

