<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pedir cita</title>
    <link rel="stylesheet" href="../css/yourConsults.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
<header>
    <div class="headerWrapper">
        <h1><a href="../index.html">CITAS</a></h1>
    </div>
    <h2>Pedir cita con especialistacitas</h2>
</header>
<main>

</main>
<script src="../js/yourConsultsForm.js"></script>
</body>
</html>