<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tus citas</title>
    <link rel="stylesheet" href="../css/yourConsults.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
<header>
    <div class="headerWrapper">
        <h1><a href="../index.html">CITAS</a></h1>
    </div>
    <h2>Tus citas</h2>
</header>
<main>
    <section>

        <h3>Citas proximas</h3>
        <div class="savedConsults">
            <div>
                <span>Fecha --/--/--/</span>
                <span>Doctor : Nombre, especialidad</span>
                <span>Cita pedida --/--/--/</span>
                <button>Cancelar cita</button>
            </div>
            <div>
                <span>Fecha --/--/--/</span>
                <span>Doctor : Nombre, especialidad</span>
                <span>Cita pedida --/--/--/</span>
                <button>Cancelar cita</button>
            </div>
            <div>
                <span>Fecha --/--/--/</span>
                <span>Doctor : Nombre, especialidad</span>
                <span>Cita pedida --/--/--/</span>
                <button>Cancelar cita</button>
            </div>
            <div>
                <span>Fecha --/--/--/</span>
                <span>Doctor : Nombre, especialidad</span>
                <span>Cita pedida --/--/--/</span>
                <button>Cancelar cita</button>
            </div>
            <div>
                <span>Fecha --/--/--/</span>
                <span>Doctor : Nombre, especialidad</span>
                <span>Cita pedida --/--/--/</span>
                <button>Cancelar cita</button>
            </div>
            <div>
                <span>Fecha --/--/--/</span>
                <span>Doctor : Nombre, especialidad</span>
                <span>Cita pedida --/--/--/</span>
                <button>Cancelar cita</button>
            </div>
            <div>
                <span>Fecha --/--/--/</span>
                <span>Doctor : Nombre, especialidad</span>
                <span>Cita pedida --/--/--/</span>
                <button>Cancelar cita</button>
            </div>
            <div>
                <span>Fecha --/--/--/</span>
                <span>Doctor : Nombre, especialidad</span>
                <span>Cita pedida --/--/--/</span>
                <button>Cancelar cita</button>
            </div>
        </div>
    </section>
        <button onclick="showRecord()" id="ShowRecordButton">Ver Historial</button>
    <section class="savedConsults" id="Records" style="display: none;">
        <div>
            <span>Fecha --/--/--/</span>
            <span>Doctor : Nombre, especialidad</span>
            <span>Cita pedida --/--/--/</span>
            <button>Ver diagnostico</button>
        </div>
        <div>
            <span>Fecha --/--/--/</span>
            <span>Doctor : Nombre, especialidad</span>
            <span>Cita pedida --/--/--/</span>
            <button>Ver diagnostico</button>
        </div>
        <div>
            <span>Fecha --/--/--/</span>
            <span>Doctor : Nombre, especialidad</span>
            <span>Cita pedida --/--/--/</span>
            <button>Ver diagnostico</button>
        </div>
        <div>
            <span>Fecha --/--/--/</span>
            <span>Doctor : Nombre, especialidad</span>
            <span>Cita pedida --/--/--/</span>
            <button>Ver diagnostico</button>
        </div>
        <div>
            <span>Fecha --/--/--/</span>
            <span>Doctor : Nombre, especialidad</span>
            <span>Cita pedida --/--/--/</span>
            <button>Ver diagnostico</button>
        </div>
        <div>
            <span>Fecha --/--/--/</span>
            <span>Doctor : Nombre, especialidad</span>
            <span>Cita pedida --/--/--/</span>
            <button>Ver diagnostico</button>
        </div>
        <div>
            <span>Fecha --/--/--/</span>
            <span>Doctor : Nombre, especialidad</span>
            <span>Cita pedida --/--/--/</span>
            <button>Ver diagnostico</button>
        </div>
        <div>
            <span>Fecha --/--/--/</span>
            <span>Doctor : Nombre, especialidad</span>
            <span>Cita pedida --/--/--/</span>
            <button>Ver diagnosticota</button>
        </div>
    </section>
</main>
<script src="../js/yourConsultsForm.js"></script>
</body>
</html>